<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Unity Asset Store - Publisher Package List</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" media="screen" href="style.css" />
</head>

<body>
  <div id="app">
    <div id="head">
      <input type="number" id="pubId" v-model.number="pubId" placeholder="Input publisher number ID (xxxxx) here">
      <button @click="request()">
        Request
      </button>
    </div>
    <div class="list">
      <div v-for="i in data.results" class="item">
        <div class="icon">
          <a :href="'https://www.assetstore.unity3d.com/en/#!/content/' + i.id" target="_blank" rel="noopener nofollow noreferrer">
            <img :src="i.icon">
          </a>
        </div>
        <div class="info">
          <div class="lev lev-1">
            <span class="id">{{i.id}}</span>
            <span class="title" :title="i.title">{{i.title_english}}</span>
            <span class="price">{{i.price_usd}}$</span>
          </div>
          <div class="lev lev-2">
            <span class="version" :title="i.package_version_id">{{i.version}}</span>
            <span class="publish" :title="i.pubdate_iso">{{i.pubdate}}</span>
            <span>{{i.category.label}}</span>
          </div>
          <div class="lev lev-3">
            <span class="rating" v-if="i.rating.count">
              <span v-for="j in i.rating.average">⭐</span> ({{i.rating.count}})
            </span>
            <span class="rating norating" v-else>
              No rating info
            </span>
            <span class="hotness">🔥 {{i.hotness.toString("0.00")}}</span>
          </div>
        </div>
      </div>
    </div>
    <div id="pages">
      <button v-for="i in pageMax" :disabled="page===i" @click="page=i;request()"> {{i}} </button>
    </div>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.13/vue.min.js"></script>
  <script src="main.js"></script>
</body>

</html>