<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Unity Asset Store - Publisher Package List</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" media="screen" href="style.css" />
</head>

<body>
  <div id="app">
    <div id="head">
      <input id="pubId" v-model="pubId" placeholder="Input publisher number ID (xxxxx) here. Leave blank to show for all assets.">
      <select id="pubOrder" v-model="order">
        <option v-for="c in orderChoices">{{c}}</option>
      </select>
      <button @click="request()">
        Request
      </button>
    </div>
    <div class="list">
      <p v-if='message' class="message">{{message}}</p>
      <div v-for="i in data.results" class="item">
        <div class="icon">
          <a :href="'https://www.assetstore.unity3d.com/en/#!/content/' + i.id" target="_blank" rel="noopener noreferrer">
            <img :src="i.icon">
          </a>
        </div>
        <div class="info">
          <div class="lev lev-1">
            <span class="id bubble" :title="'publisher: ' + i.publisher.id">{{i.id}}</span>
            <span class="title wide" :title="i.title + ' / ' + i.publisher.label">{{i.title_english}}</span>
            <span class="price" :class="{ semi:(i.price_usd.slice(0, -1) &lt; 0.1) }">{{i.price_usd}}$</span>
          </div>
          <div class="lev lev-1-extra" v-if="showPublishers">
            <span class="publisherid bubble" :title="i.publisher.id">{{i.publisher.id}}</span>
            <span class="publisher wide" :title="i.publisher.label_english">{{i.publisher.label_english}}</span>
            <a :href="i.publisher.url" target="_blank" rel="noopener nofollow">🔗↗</a>
          </div>
          <div class="lev lev-2">
            <span class="version bubble" :title="i.package_version_id">{{i.version}}</span>
            <span class="publish wide" :title="i.pubdate_iso">{{i.pubdate}}</span>
            <span>
              <i>{{i.category.label}}</i>
            </span>
          </div>
          <div class="lev lev-3">
            <span class="rating wide" v-if="i.rating.count">
              <span v-for="j in i.rating.average">⭐</span> ({{i.rating.count}})
            </span>
            <span class="rating semi wide" v-else>
              No rating info
            </span>
            <span v-if="hotnessDB[i.id] && hotnessDB[i.id].d" class="hotnessdiff">{{ hotnessDB[i.id].d > 0 ? "⬆" : "🔻"}} {{hotnessDB[i.id].d.toFixed(3)}}</span>
            <span class="hotness">🔥 {{i.hotness}}</span>
          </div>
        </div>
      </div>
    </div>
    <div id="pages">
      <button v-for="i in pageMax" :disabled="page===i" @click="page=i;request()">{{i}}</button>
      <br>
      <button @click="resetHotnessDB()">Reset Hotness Difference</button>
    </div>
  </div>
  <footer>
    <a href="https://github.com/willnode/uas-public-stat#readme" target="_blank" rel="noopener">💡 Visit Github source for manual</a>
  </footer>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.13/vue.min.js"></script>
  <script src="main.js"></script>
</body>
</html>
